<!-- <li><a href="{{ blog.get_absolute_url }}">{{blog.titleModels}}</a></li> -->

<div class="col-12 col-md-8 mb-3 mx-auto">
<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ blog.titleModels}}</h5>
        <p class="card-text">
            {% if truncate %} 
                {{ blog.contentModels | linebreaks | truncatewords:30}}
            {% else %}
                {{ blog.contentModels | linebreaks }}
            {% endif %}
        
        </p>
        {% if not detail %}
            <a href="{{ blog.get_absolute_url }}">View</a>
        {% endif %}
    </div>
</div>
</div>